<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}
</script>
<style>
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
</style>
{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>{% block title %}Server lists{% endblock %}</h1>
      <button id="allSelect" type="button" class="btn btn-primary">全选/反选</button>
      {% if g.user %}
        <a class="btn btn-primary" data="1">Start</a>
        <a class="btn btn-warning" data="2">Stop</a>
        <a class="btn btn-info" data="3">Restart</a>
      {% endif %}
    <div class="row">
      {% for post,v in posts.items() %}
        <div class="col-2 border border-primary rounded m-1 p-1">
            {% if v == 1 %}
                {% set cs = "text-success" %}
                {% set res = "已启动" %}
            {% elif v == 2 %}
                {% set cs = "text-muted" %}
                {% set res = "未启动" %}
            {% elif v == 3 %}
                {% set cs = "text-danger" %}
                {% set res = "异常" %}
            {% endif %}
            <p id="{{ post }}"><input type="checkbox">&nbsp;{{ post }}
                {% if g.user %}
                    <a href=# data=1 title=启动 class="iconfont icon-start start"></a>
                    <a href=# data=2 title=关闭 class="iconfont icon-guanbi stop"></a>
                    <a href=# data=3 title=重启 class="iconfont icon-zhongqi restart"></a>
                {% endif %}
                <br>
                当前状态:<span id="result" class="{{ cs }}">{{ res }}</span></p>

             {% if g.user %}
                <!--<a class="action" href="{{ url_for('server.start', id=post,stype=2) }}">Stop</a>
                <a class="action" href="{{ url_for('server.start', id=post,stype=1) }}">Start</a>-->
                <!--<a class="btn btn-primary" data="1">Start</a>
                <a class="btn btn-warning" data="2">Stop</a>-->
                <!-- 图标类 -->
            {% endif %}
            <div></div>
       </div>
      {% endfor %}

    </div>
  </div>

<script>
/*
$("svg").click(function() {
    ser_id= $(this).parent().attr('id')
    stype= $(this).attr('data')
    span = $(this).parent().find('span')
    console.log($(this).parent().attr('id'))
    console.log(stype)
    ajaxPost(ser_id,stype,span)

});*/

$("a.iconfont").click(function() {
    ser_id= $(this).parent().attr('id')
    stype= $(this).attr('data')
    span = $(this).parent().find('span')
    layout = $(this).parent().parent().find('div').last()

    console.log($(this).parent().parent().find('div').last().text())
    console.log($(this).parent().attr('id'))
    console.log(stype)
    ajaxPost(ser_id,stype,span,layout)

});

function ajaxPost(ser_id,stype,span,layout){
    result = {1:'已启动',2:'未启动',3:'异常',4:'Error'}
    cs = {1:'text-success',2:'text-muted',3:'text-danger',4:'text-danger'}
    waitinfo = {1:'正在启动...',2:'正在关闭...',3:'正在重启...'}
    data = { serid:ser_id, stype:stype}
    //ajax
    $.ajax({
        //增加遮罩层，防止多次提交
        beforeSend: function () {
            //alert('12333')
            span.attr('class','text-info')
            span.text(waitinfo[stype])
            layout.addClass('layout')
            //silent || $(this).trigger("ICC_AjaxStart", [requestId]);
            //$(this).trigger("ICC_AjaxBeforeSend", [requestId]);
        },
        error: function (jqXHR, textStatus, errorThrown) {
            //alert(jqXHR)
            layout.removeClass('layout')
            console.log(jqXHR)
            console.log(textStatus)
            console.log(errorThrown)
        },
        data: data,
        dataType: "json",
        method: "post",
        global:false,
        crossDomain: true,
        success: function (res, textStatus) {
            console.log(res)
            //$(this).trigger("ICC_AjaxSuccess", [requestId, textStatus, res]);
            status = res.result[ser_id];
            //status = data.result[ser_id]
            span.attr('class',cs[status])
            span.text(result[status])
            layout.removeClass('layout')
            console.log(res)
            console.log(cs[status])
            console.log(result[status])
        },
        url: './add'
    })
}

//全选
    type = false
    $("#allSelect").click(function () {
        type = !type
        $("input[type='checkbox']").prop("checked", type);
    })

    $("a.btn").click(function () {
        inputs = $("input:checked")
        stype= $(this).attr('data')
        if (inputs.length > 0){
            console.log(inputs)
            inputs.each(function () {
                ser_id= $(this).parent().attr('id')

                span = $(this).parent().find('span')
                layout = $(this).parent().parent().find('div').last()

                console.log($(this).parent().attr('id'))
                console.log(stype)
                ajaxPost(ser_id,stype,span,layout)
            })
        }else{
            alert('please choose server!')
        }

    })
    </script>

{% endblock %}
